*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
    scroll-behavior: smooth;
}
body{
    background-color: #E0E4CC;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contenedor{
    width: 95%;
    max-width: 1500px;
    margin: 15px auto;
    display: grid;
    gap: 15px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado encabezado encabezado"
                         "navegador navegador navegador navegador"
                         "carrusel carrusel carrusel side"
                         "pie pie pie pie";
}

.contenedor-catalogo{ /* Mquetado catalogo.html */
    width: 95%;
    max-width: 1500px;
    margin: 15px auto;
    display: grid;
    gap: 15px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado encabezado encabezado"
                         "navegador navegador navegador navegador"
                         "catalogo catalogo catalogo catalogo"
                         "pie pie pie pie";
}

.contenedor-contacto{ /* Mquetado contacto.html */
    width: 95%;
    max-width: 1500px;
    margin: 15px auto;
    display: grid;
    gap: 15px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado encabezado encabezado"
                         "navegador navegador navegador navegador"
                         "contacto contacto contacto contacto"
                         "pie pie pie pie";
}

.contenedor .encabezado,
.contenedor .navegador,
.contenedor .side,
.contenedor .carrusel,
.contenedor .pie,
.contenedor-catalogo .encabezado,
.contenedor-catalogo .navegador,
.contenedor-catalogo .catalogo,
.contenedor-catalogo .pie
.contenedor-contacto .encabezado,
.contenedor-contacto .navegador,
.contenedor-contacto .contacto,
.contenedor-contacto .pie{
    padding: 20px;
    border-radius: 4px;
}

.contenedor .encabezado,
.contenedor-catalogo .encabezado,
.contenedor-contacto .encabezado{
    background: #ffde00;
    grid-area: encabezado;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 8rem;
    display: flex;
}
.contenedor .gradiante,
.contenedor-catalogo .gradiante,
.contenedor-contacto .gradiante{
    /* background: darkblue; */
    color: #fff;
    grid-area: navegador;
    /* box-sizing: border-box; */
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
}
.btn {
    background-color: #ffde00;
    color: #000000;
}

.contenedor .navegador,
.contenedor-catalogo .navegador,
.contenedor-contacto .navegador{
    /* background: darkblue; */
    color: #fff;
    grid-area: navegador;
    /* box-sizing: border-box; */
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
}
.navegador ul,li,a{
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: rgb(0, 0, 0);
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px;
    
}
.navegador a{
    width: 100%;
    color: black;

}

.navegador li{
    background-color: #ffde00;
    padding: 1rem;
    width: 20rem;
    border-radius: 4px;
    width: 24%;
    display: flex;
}


                        /* efecto gradiante al pisar el elemento */
.gradiante li:hover{            
    --borderWidth: 3px;
    color: black;
    background: #ffde00;
    position: relative;
    border-radius: var(--borderWidth);

}
.gradiante li::after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #110a09, #01bff9, #1c0720, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}
/* efecto animacion */
@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.contenedor .carrusel{
    /* background-color: navy; */
    grid-area: carrusel;
    /* height: 25rem;
    color: #fff;*/
    /* display: flex; */
    /*justify-content: center;
    align-items: center;
    text-align: center; */
    padding: 0;
    box-sizing: border-box;
    image-rendering: auto;
}
  
.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
    height: 100%; /* aseguramos que todos los elementos del carrusel tengan una altura de 100% */
  }

.contenedor .side{
    /* background: #ffde00; */
    color: #000000;
    grid-area: side; 
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.side div{
    background: #ffde00;
    /* border: 1px solid black; */
    width: 100%;
    height: 30%;
    margin-bottom: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 4px;
    padding-right: 4px;
}


.contenedor .pie,
.contenedor-catalogo .pie,
.contenedor-contacto .pie{
    background: #ffde00;
    color: #000000;
    grid-area: pie;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contenedor-catalogo .catalogo{
    /* background-color: navy; */
    grid-area: catalogo;
    /* height: 25rem; */
    height: 100%;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.contenedor-contacto .contacto{
    /* background-color: navy; */
    grid-area: contacto;
    /* height: 25rem; */
    height: 100%;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: justify;
    justify-items: justify;
    align-items: center;
    text-align: left;
    padding: 0;
}

.link{
    display: inline-flex;
    margin: 0px 10px 0px 10px;
}

.link:hover{
    color: #69D2E7;
}

/* Cards */

.catalogo .card{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    width: 20%;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    align-items: center;
    justify-content: center;
    color: black;
}

.catalogo .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.catalogo .card img{
    width: 100%;
    height: 50%;
}

.catalogo .card h4{
    font-weight: 600;
    font-size: 15px;
}

.catalogo .card p{
    padding: 0 1rem;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
}

.catalogo .card a{
    font-weight: 700;
    text-decoration: none;
    color: darkcyan;
}
/* Menu hamburguesa */

.abrir-menu,
.cerrar-menu{
    display: none;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    justify-content: center;
    width: 100%;
    background: #ffde00;
    color: #000000;
}
.abrir-menu:hover, .cerrar-menu:hover {
    color: black;
    background: #2585b9ad;
}

.abrir-menu.invisible {
    display: none;
}
/* Boton volver arriba */
.volver-arriba {
    background: #ffde00;
    color: #000000;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.volver-arriba.visible{
    opacity: 1;
    bottom: 32px;
    pointer-events: auto;
}

@media screen and (max-width: 768px) {
    .contenedor {
        width: 100%;
        grid-template-areas: "encabezado encabezado encabezado encabezado"
            "navegador navegador navegador navegador"
            "side side side side"
            "carrusel carrusel carrusel carrusel"
            "pie pie pie pie";
    }

    .contenedor-catalogo {
        width: 100%;
        grid-template-areas: "encabezado encabezado encabezado encabezado"
            "navegador navegador navegador navegador"
            "catalogo catalogo catalogo catalogo"
            "pie pie pie pie";
    }

    .contenedor-contacto {
        width: 100%;
        grid-template-areas: "encabezado encabezado encabezado encabezado"
            "navegador navegador navegador navegador"
            "contacto contacto contacto contacto"
            "pie pie pie pie";
    }

    #hcarrusel {
        height: 275px;
    }

    .catalogo .card {
        width: 40%;
    }

    .side h4 {
        font-size: 1rem;
    }

    .navegador li {
        width: 100%;
        margin-top: 1px;
    }

    /* Menu hamburguesa */
    .navegador {
        display: none;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
    }

    .navegador.visible {
        display: block;
    }

    .volver-arriba.visible {
        right: 12px;
    }

    /* Formulario */

    .contacto form {
        display: inline-block;
        flex-wrap: wrap;
        flex-direction: row;
        width: 95%;
        align-items: center;
    }

    .contacto input {
        width: 95%;
    }
}

@media screen and (max-width: 450px) {
    .contenedor {
        width: 100%;
        grid-template-areas: "encabezado encabezado encabezado encabezado"
            "navegador navegador navegador navegador"
            "carrusel carrusel carrusel carrusel"
            "side side side side"
            "pie pie pie pie";
    }

    .contenedor-catalogo {
        width: 100%;
        grid-template-areas: "encabezado encabezado encabezado encabezado"
            "navegador navegador navegador navegador"
            "catalogo catalogo catalogo catalogo"
            "pie pie pie pie";
    }

    .contenedor-contacto {
        width: 100%;
        grid-template-areas: "encabezado encabezado encabezado encabezado"
            "navegador navegador navegador navegador"
            "contacto contacto contacto contacto"
            "pie pie pie pie";

    }

    .navegador li {
        width: 100%;
        margin-top: 1px;
    }

    #hcarrusel {
        height: 275px;
    }

    /* ------------------------------------------------------------------------ */
    .contenedor .side {
        /* background: #ffde00; */
        color: #000000;
        grid-area: side;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-sizing: border-box;
    }

    .side div {
        /* border: 1px solid black; */
        width: 100%;
        height: 80%;
        border-radius: 10px;
        box-sizing: border-box;
        margin-right: 5px;
        padding: 5px;
        box-sizing: content-box;
    }

    .catalogo .card {
        width: 60%;
    }

    /* ------------------------------------------------------------------------ */

    .side h4 {
        font-size: 1rem;
    }

    /* Menu hamburguesa */
    .navegador {
        display: none;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
    }

    .navegador.visible {
        display: block;
    }

    /* Boton Volver Arriba */
    .volver-arriba.visible {
        bottom: 16px;
        right: 16px;
    }

    /* Formulario */

    .contacto form {
        display: inline-block;
        flex-wrap: wrap;
        flex-direction: row;
        width: 95%;
        align-items: center;
    }

    .contacto input {
        width: 95%;
    }

}

/* Formulario */

.contacto h2 {
    text-align: center;
    object-fit: cover;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);

}

textarea {
    border: 1px solid #000000;
    border-radius: 4px;
    height: 200px;
    width: 100%;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.input {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}

.select {
    /* display: block; */
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #000000;
    border-radius: 0.375rem;
    transition: 0.15s ease-in-out, 0.15s ease-in-out;

}

input {
    border: 1px solid black;
    border-radius: 5px;

}

.centrado {
    text-align: center;
}

.boton,
#b1 {
    background-color: #ffde00;
    padding: 5px;
}

