*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
}
body{
    background-color: aliceblue;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contenedor{
    width: 95%;
    max-width: 1500px;
    margin: 15px auto;
    display: grid;
    gap: 15px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado encabezado encabezado"
                         "navegador navegador navegador navegador"
                         "carrusel carrusel carrusel side"
                         "pie pie pie pie";
}

.contenedor-catalogo{ /* Mquetado catalogo.html */
    width: 95%;
    max-width: 1500px;
    margin: 15px auto;
    display: grid;
    gap: 15px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado encabezado encabezado"
                         "navegador navegador navegador navegador"
                         "catalogo catalogo catalogo catalogo"
                         "pie pie pie pie";
}

.contenedor .encabezado,
.contenedor .navegador,
.contenedor .side,
.contenedor .carrusel,
.contenedor .pie,
.contenedor-catalogo .encabezado,
.contenedor-catalogo .navegador,
.contenedor-catalogo .catalogo,
.contenedor-catalogo .pie{
    padding: 20px;
    border-radius: 4px;
}

.contenedor .encabezado,
.contenedor-catalogo .encabezado{
    background: darkblue;
    color: #fff;
    grid-area: encabezado;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 8rem;
    display: flex;
}
.contenedor .navegador,
.contenedor-catalogo .navegador{
    /* background: darkblue; */
    color: #fff;
    grid-area: navegador;
    /* box-sizing: border-box; */
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
}
.navegador ul,li,a{
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: white;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px;
    
}
.navegador a{
    width: 100%;
    /* background-color: black; */

}
.navegador li{
    background-color: navy;
    padding: 1rem;
    width: 20rem;
    border-radius: 4px;
    width: 24%;
    display: flex;
}

.navegador li:hover{
    color: black;
    background-color: cornflowerblue;
}

.contenedor .carrusel{
    /* background-color: navy; */
    grid-area: carrusel;
    /* height: 25rem;
    color: #fff;*/
    /* display: flex; */
    /*justify-content: center;
    align-items: center;
    text-align: center; */
    padding: 0;
    box-sizing: border-box;
}

.contenedor .side{
    background: darkblue;
    color: #fff;
    grid-area: side; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contenedor .pie,
.contenedor-catalogo .pie{
    background: darkblue;
    color: #fff;
    grid-area: pie;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contenedor-catalogo .catalogo{
    /* background-color: navy; */
    grid-area: catalogo;
    /* height: 25rem; */
    height: 100%;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.link{
    display: inline-flex;
    margin: 0px 10px 0px 10px;
}

.link:hover{
    color: white;
}

/* Cards */

.catalogo .card{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    width: 280px;
    height:350px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    align-items: center;
    justify-content: center;
    color: black;
}

.catalogo .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.catalogo .card img{
    width: 150px;
    height: 200px;
}

.catalogo .card h4{
    font-weight: 600;
}

.catalogo .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
}

.catalogo .card a{
    font-weight: 700;
    text-decoration: none;
    color: darkcyan;
}

@media screen and (max-width: 768px){
    .contenedor{
        width: 100%;
        grid-template-areas: "encabezado encabezado encabezado encabezado"
                             "navegador navegador navegador navegador"
                             "carrusel carrusel carrusel side"
                             "carrusel carrusel carrusel side"
                             "pie pie pie pie";
    }

    .contenedor-catalogo{
        width: 100%;
        grid-template-areas: "encabezado encabezado encabezado encabezado"
                             "navegador navegador navegador navegador"
                             "catalogo catalogo catalogo catalogo"
                             "pie pie pie pie";
    }

    .navegador li{
        width: 100%;
        margin-top: 1px;
    }
}

@media screen and (max-width: 450px){
    .contenedor{
        width: 100%;
        grid-template-areas: "encabezado encabezado encabezado encabezado"
                             "navegador navegador navegador navegador"
                             "side side side side"
                             "carrusel carrusel carrusel carrusel"
                             "pie pie pie pie";
    }

    .contenedor-catalogo{
        width: 100%;
        grid-template-areas: "encabezado encabezado encabezado encabezado"
                             "navegador navegador navegador navegador"
                             "catalogo catalogo catalogo catalogo"
                             "pie pie pie pie";
    }
    .navegador li{
        width: 100%;
        margin-top: 1px;
    }

    .side{
        height: 2rem;
    }
}